body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#section {
    background-color: #f1f1f1;
    padding: 80px;
    border-radius: 30px;
}
img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: #8d5d5d;
    box-shadow: 17px 13px 16px black;
    border-radius: 27px;
}
button {
    width: 200px;
    background-color: rgb(201, 90, 196);
    margin-top: 20px;
    border-radius: 30px;
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    cursor: pointer;
}
h1{
    font-size: 30px;
    text-align: center;
}